@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Wszystkie Role</h1>


    @if (Model.Any())
    {
        <a class="btn btn-primary" style="width:auto" asp-controller="admin" asp-action="CreateRole">Dodaj nową role</a>
        
        foreach (var item in Model)
        {
            <div>
                <div class="card-header" style="background-color:white">
                    Role Id: @item.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                <div class="card-footer">
                    <form method="post" asp-action="DeleteRole" asp-route-id="@item.Id">
                        <a class="btn btn-primary" asp-controller="admin" asp-action="editrole" asp-route-id="@item.Id">Edytuj</a>
                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Czy jesteś pewny że chcesz usunąć tą role?</span>
                            <button type="submit" class="btn btn-danger">Tak</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@item.Id', false)">Nie</a>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@item.Id', true)">Usuń</a>
                        </span>
                    </form>

                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No Roles created yet!
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto" asp-controller="administrator" asp-action="CreateRole">Create Role</a>
            </div>
        </div>
    }
</div>

<script>

    function confirmDelete(uniqueId, isTrue) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>
