@model IEnumerable<Order>

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Product</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Product
            <a href="../Admin/ProductAdd" style="float:right!important" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Data</th>
                            <th>Nazwa</th>
                            <th>Nazwisko</th>
                            <th>Akcja</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Data</th>
                            <th>Nazwa</th>
                            <th>Nazwisko</th>
                            <th>Akcja</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.DateCreate</td>
                                <td>@item.ApplicationUser.UserName</td>
                                <td>@item.ApplicationUser.LastName</td>
                                <td><a asp-action="Edit" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-secondary"><span title="Edit"><i class="fas fa-pen"></i></span></a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
