@model IEnumerable<Praca_Inżynierska.Models.Order>
<link rel="stylesheet" href="~/css/LabelStyle.css" />
@{
    ViewData["Title"] = "MyOrdersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title"><h1>Twoje zamówienia</h1></div>
<div class="container">
    <div class="content">
        <form action="AddOrder" style="width:200px;">
            <div class="button">
                <input type="submit" value="Złóż zamówienie">
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Zamówienie nr
                    </th>
                    <th>
                        Data utworzenia
                    </th>
                    <th>
                        Status zamówienia
                    </th>
                    <th>
                        Akcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatus.Name)
                        </td>
                        <td>
                            <a asp-action="EditOrder" asp-route-id="@item.Id">Edycja</a> |
                            <a asp-action="DisplayOrder" asp-route-id="@item.Id">Podgląd</a> |
                            @if (item.OrderStatusId == 1)
                            {
                            <a asp-action="DeleteOrder" asp-route-id="@item.Id">Usuń</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
